box-name=yourgym
box-id=1234
booking-goals={"monday":[{"time":"1800","name":"Open Box"},{"time":"1900","name":"WOD"}],"tuesday":[{"time":"1900","name":"WOD"}],"wednesday":[{"time":"1900","name":"WOD"}],"thursday":[{"time":"1900","name":"WOD"}],"friday":[{"time":"1900","name":"WOD"}]}
proxy=
family-id=
timezone=Europe/Madrid
